*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
.contenedor{
    width: 95%;
    margin: 5px auto;
}
header{
    height: px;
    width: auto;
}
header img{
    width: 100%;
    height: 20%;
    float:left ;
}
.utn{
    clear: both;
    height: 30%;
    margin: 2% auto;
    padding: 2%;
}
hr{
    height: 1%;
    clear: both;  
    color: #c74c79;
}
section p{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #fefefe;
    margin: 2% auto;
}
.nombre{
    height: 5%;
    width: 60%;
    float: left;
}
.grupo{
    height: 5%;
    width: 40%;
    float: left;
}
.nombre p, .grupo p{
    padding: 1%;
    margin: 2% auto;
    text-align: center;
    color: #fefefe;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold ;
}
.tareas{
    clear: both;
    height: 10%;
    width: 100%;
    text-align: justify;
    padding: 2%;
    padding-left: 5%;
    margin-left: 5%;
}
.tareas ul li a{
    text-decoration: none;
    color: #c74c79;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
}
.tareas h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    color: #c74c79;
    
}
