*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    background-color: pink;
}
.contenedor{
    width: 95%;
    margin: 5px auto;
}
.logo img{
    float: left;
    width: 10%;
    height: 80px;
    background-color: #be485c;
    text-align: center;
    line-height: 80px;
}
.menu{
    float: left;
    width: 60%;
    height: 80px;
    text-align: center;
    line-height: 80px;

}
.menu a{
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #be485c;
}
.redes{
    float: left;
    width: 30%;
    height: 80px;
    background-color: #be485c;
}
.redes i{
    margin-left: 15px;
}
header{
    clear: both;
    height: 25%;
    line-height: 150px;
    text-align: center;
    overflow: hidden;
}
header img{
    width: 100%;
    height: auto;
}
header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.uno{
    width: 50%;
    background-color: pink;
    height: 200px;
    float: left;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.dos{
    width: 50%;
    height: 200px;
    float: left;
    padding: 10px;
    margin-bottom: 20px;
}
.uno h1{
    text-align: center;
    color: #be485c;
}
.uno p{
    text-align: center;
    color: black;
    font-size: 20px;
}
.dos h1{
    text-align: right;
    color: #be485c;
}
.dos p{
    text-align: right;
    font-size: 20px;
}

.left{
    float: left;
    height: 250px;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}
.center{
    float: left;
    height: 250px;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}
.right{
    float: left;
    height: 250px;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}
.left h1, .center h1, .right h1{
    color: #be485c;
    font-size: 20px;
}
.tres{
    float: left;
    height: 200px;
    width: 30%;
    padding: 10px;
    text-align: justify;
    background-color: pink;
    margin-bottom: 20px;
    border-radius: 10px;
}
.cuatro{
    float: left;
    height: 200px;
    width: 70%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.tres h1{
    color: #be485c;
    
}
.cuatro h1{
    color: #be485c;
}
.cuatro p, .tres p{
    color: black;
    font-size: 20px;
}
footer{
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #be485c;
    padding: 20px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #fefefe;
    margin-right: 15px;
}
footer p{
    color: black;
    margin-top: 15px;
}
section, aside{
    margin-top: 10px;
}
